<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">

    <!-- Bootstrap CSS -->
    <link href="lib/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="lib/jsoneditor.css" rel="stylesheet" type="text/css">
    <link href="css/home.css" rel="stylesheet">
    <script type="text/javascript">
        const currentSystem = "<%=systemName%>";
        const version = '<%=version%>';
		const homestudioKey = '<%=homestudioKey%>';
        const host = '<%=host%>';
        const layout = '<%=layout%>';
        const allowLowres = <%=allowLowres%>;
        const reconnectTimeoutSeconds = <%=reconnectTimeoutSeconds%>;
		let encoders = <%- JSON.stringify(encoders) %>;
        let decoders = <%- JSON.stringify(decoders) %>;
        let layouts = <%- JSON.stringify(layouts) %>;
        window.encoders = encoders;
        window.decoders = decoders;
        window.layouts = layouts;
    </script>
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/ejs.js"></script>
    <script type="text/javascript" src="lib/commonWS.js"></script>
	<script type="text/javascript" src="lib/jsoneditor.js"></script>
	<script type="text/javascript" src="lib/ovenplayer.js"></script>
	<script type="text/javascript" src="lib/sldp.js"></script>
    <script type="text/javascript" src="lib/cookie.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
    <title><%=systemName%></title>
    <link id="favicon_48" rel="icon" href="img/icon/icon.svg" sizes="256x256">
    <link rel="manifest" href="manifest.json">
</head>

<body class="bg-dark h-100 d-flex flex-column">
    <div id="loading" class="hidden"></div>

    <nav class="drag navbar navbar-expand-lg navbar-dark bg-title px-2 justify-content-between">
        <div class="d-flex align-items-center">
			<a class="navbar-brand" href="#">
				<img src="img/icon/icon.svg" class="d-inline-block align-top" alt="" width="30" height="30">
				<%-systemName%>
			</a>
			<div class="btn-group">
				<div class="w-auto" id="broken"></div>
			</div>
		</div>
        <% switch (layout) {
            case 'basic' : %>
                <div role="tablist">
                    <button class="btn btn-secondary layout-btn active" id="nav-one-tab" type="button" aria-selected="true">Single Camera</button>
                    <button class="btn btn-secondary layout-btn" id="nav-two-tab" type="button" aria-selected="true">Dual Camera</button>
                    <button class="btn btn-secondary layout-btn" id="nav-three-tab" type="button" aria-selected="true">Triple Camera</button>
                    <button class="btn btn-secondary layout-btn" id="nav-four-tab" type="button" aria-selected="true">Quad Camera</button>
                </div>
                <% break;
            case 'advanced' : %>
                <div role="tablist" id="layoutTabs">
                    <% layouts.forEach(layout => { %><button class="btn btn-secondary layout-btn me-1" id="nav-layout-<%=layout.ID%>-tab" data-id="<%=layout.ID%>" data-bs-toggle="tab" data-bs-target="#layout<%=layout.ID%>" type="button"><%=layout.Name%></button><% }) %>
                </div>
                <% break;
            case 'thumbnails' : %>
                thumbs
                <% break;
        } %>

        <div class="d-flex gap-1">
            <% if (config) { %>
                <button id="toggleConfig" class="btn btn-secondary">Encoders Config</button>
            <% } %>

            <% if (layout == 'advanced') { %>
                <button id="fullscreen" class="btn btn-secondary">Fullscreen</button>
                <button id="layoutConfig" class="btn btn-secondary">Layout Editor</button>
            <% } %>
                
            <% if (!inApp) { %>
                <button id="installBtn" onclick="install()" class="btn btn-secondary d-none">Install</button>
                <button id="refresh" class="btn btn-secondary" onClick="window.location.reload();">Refresh</button>
            <% } %>
        </div>
        <% if (inApp) { %>
            <div></div>
        <% } %>
    </nav>

    <% if (layout == 'basic') { %>
        <%- include('layouts/basic.ejs'); %>
    <% } else if (layout == 'advanced') { %>
        <%- include('layouts/advanced.ejs'); %>
        <%- include('modals/layoutEditor.ejs'); %>
    <% } else { %>
        <%- include('layouts/thumbnails.ejs'); %>
    <% } %>
    
    <% if (config) { %>
        <%- include('modals/config.ejs'); %>
    <% } %>
</body>

</html>